- AppHost.served_locales.each do |locale|
  link rel='alternate' hreflang=locale href=url_for(only_path: false, locale: AppHost.locale_for_url(locale))
link rel='alternate' hreflang='x-default' href=url_for(only_path: false, locale: AppHost.locale_for_url(I18n.default_locale))
